#### 66daysofdata
### Day 1
### pyspark tutorial
1. Reading different formats in pyspark

In [9]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

Py spark dataframes are implememnted on top of RDD
wgen spark transformation starts, it does not immediatly start the transformation, just prepares for it, when commands like collect() are called it actually transforms

pyspark applications start with initialization of the spark session

Data frames can be created from
1. pyspark.sql.Rows
2. lists
3. tuples
4. dictionaries
5. pandas dataframe
6. RDD

In [49]:
from pyspark.sql import Row
from datetime import datetime, date

df = spark.createDataFrame([
    Row(a=1, b=0.1, c="row 1", d=date(2021,1,7), e = datetime(2021,1,7,22,0,0)),
    Row(a=2, b=0.2, c="row 2", d=date(2021,2,7), e = datetime(2021,2,7,22,0,0))
])

df.show()
df.printSchema()

+---+---+-----+----------+-------------------+
|  a|  b|    c|         d|                  e|
+---+---+-----+----------+-------------------+
|  1|0.1|row 1|2021-01-07|2021-01-07 22:00:00|
|  2|0.2|row 2|2021-02-07|2021-02-07 22:00:00|
+---+---+-----+----------+-------------------+

root
 |-- a: long (nullable = true)
 |-- b: double (nullable = true)
 |-- c: string (nullable = true)
 |-- d: date (nullable = true)
 |-- e: timestamp (nullable = true)

In [50]:
# from tuples without schema
df = spark.createDataFrame([
    (1, 0.1, "row 1", date(2021,1,7), datetime(2021,1,7,22,0,0)),
    (2, 0.2, "row 2", date(2021,2,7), datetime(2021,2,7,22,0,0))
])

df.show()
df.printSchema()

+---+---+-----+----------+-------------------+
| _1| _2|   _3|        _4|                 _5|
+---+---+-----+----------+-------------------+
|  1|0.1|row 1|2021-01-07|2021-01-07 22:00:00|
|  2|0.2|row 2|2021-02-07|2021-02-07 22:00:00|
+---+---+-----+----------+-------------------+

root
 |-- _1: long (nullable = true)
 |-- _2: double (nullable = true)
 |-- _3: string (nullable = true)
 |-- _4: date (nullable = true)
 |-- _5: timestamp (nullable = true)

In [51]:
# from tuples with schema
#couldn't create that empty f column with empty 
df = spark.createDataFrame([
    (1, 0.1, "row 1", date(2021,1,7), datetime(2021,1,7,22,0,0)),
    (2, 0.2, "row 2", date(2021,2,7), datetime(2021,2,7,22,0,0))
],schema = 'a long, b double, c string, d date, e timestamp')

df.show()
df.printSchema()

+---+---+-----+----------+-------------------+
|  a|  b|    c|         d|                  e|
+---+---+-----+----------+-------------------+
|  1|0.1|row 1|2021-01-07|2021-01-07 22:00:00|
|  2|0.2|row 2|2021-02-07|2021-02-07 22:00:00|
+---+---+-----+----------+-------------------+

root
 |-- a: long (nullable = true)
 |-- b: double (nullable = true)
 |-- c: string (nullable = true)
 |-- d: date (nullable = true)
 |-- e: timestamp (nullable = true)

In [52]:
# from pandas dataframe
import pandas as pd
pandas_df = pd.DataFrame({
    'a': [1, 2],
    'b': [2., 3.],
    'c': ['row 1', 'row 2'],
    'd': [date(2021, 7, 1), date(2021, 7, 2)],
    'e': [datetime(2021, 7, 1, 12, 0), datetime(2021, 7, 2, 12, 0)]
})
df = spark.createDataFrame(pandas_df)

df.show()
df.printSchema()

+---+---+-----+----------+-------------------+
|  a|  b|    c|         d|                  e|
+---+---+-----+----------+-------------------+
|  1|2.0|row 1|2021-07-01|2021-07-01 12:00:00|
|  2|3.0|row 2|2021-07-02|2021-07-02 12:00:00|
+---+---+-----+----------+-------------------+

root
 |-- a: long (nullable = true)
 |-- b: double (nullable = true)
 |-- c: string (nullable = true)
 |-- d: date (nullable = true)
 |-- e: timestamp (nullable = true)

In [53]:
#from rdd
rdd = spark.sparkContext.parallelize([
    (1, 0.1, "row 1", date(2021,1,7), datetime(2021,1,7,22,0,0)),
    (1, 0.2, "row 2", date(2021,2,7), datetime(2021,2,7,22,0,0))
])
df = spark.createDataFrame(rdd, schema=['a', 'b', 'c', 'd', 'e'])

df.show()
df.printSchema()

+---+---+-----+----------+-------------------+
|  a|  b|    c|         d|                  e|
+---+---+-----+----------+-------------------+
|  1|0.1|row 1|2021-01-07|2021-01-07 22:00:00|
|  1|0.2|row 2|2021-02-07|2021-02-07 22:00:00|
+---+---+-----+----------+-------------------+

root
 |-- a: long (nullable = true)
 |-- b: double (nullable = true)
 |-- c: string (nullable = true)
 |-- d: date (nullable = true)
 |-- e: timestamp (nullable = true)

TO DO
### add empty values and check